# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env
env/
venv/
.venv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Migrations (если не хочешь их игнорировать — убери)
*/migrations/__pycache__/
*/migrations/*.py
!*/migrations/__init__.py

# Static files
staticfiles/
